@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

.top,
.medium,
.bottom {
  height: 4px;
  width: 100%;
}

.top {
  animation: .64s ease .64s forwards identifier1reverse;
}

.medium {
  animation: .16s ease .16s forwards identifier2reverse;
}
.bottom{
  animation: .64s ease .64s forwards identifier3reverse;
}
.check:checked~.top {
  animation: .64s ease .64s forwards identifier1;
}

.check:checked~.medium {
  animation: .64s ease .64s forwards identifier2;
}

.check:checked~.bottom {
  animation: .64s ease .64s forwards identifier3;

}

@keyframes identifier1reverse {
  0% {
    transform-origin: 60% 180%;
    transform: rotate(222deg);
  }

  100% {
    transform: rotate(0);
  }
}


@keyframes identifier1 {
  0% {
    transform: rotate(0);
  }

  100% {
    transform-origin: 60% 180%;
    transform: rotate(222deg);
  }
}

@keyframes identifier2reverse {
  75% {
    width: 50%;
  }

  100% {
    width: 100%;
  }
}

@keyframes identifier2 {
  75% {

    width: 50%;
  }

  100% {
    opacity: 0;
  }
}


@keyframes identifier3reverse {
  0% {
    transform-origin: 61% -70%;
    transform: rotate(-225deg);
  }

  100% {
    transform: rotate(0);
  }
}

@keyframes identifier3 {
  0% {
    transform: rotate(0);
  }

  100% {
    transform-origin: 61% -70%;
    transform: rotate(-225deg);
  }
}